<div class="container">
  <h3 class="center">Contact Request</h3>
  <p class="center">{{ name }} has filled out the contact form on your website with the following message:</p>

<blockquote>
  <p>{{ message }}</p>
</blockquote>

<p class="center small">To respond to {{ name }}, you may reply directly to this email or send an email to {{ email }}.</p>
</div>
